.FormField {
}

.Label {
  display: inline-block;
  font-weight: 500;
  margin-bottom: 5px;
}

.Error {
  height: 0;
  transition: 0.1s ease height;
  font: var(--font-s);
  color: var(--red);
}

.Error.Visible {
  height: 22px;
}
