.Select {
  color: var(--text-color);
  background: var(--bg-color);
  border-radius: 6px;
  font: inherit;
  padding: 11px 12px;
  border: none;

  -webkit-appearance: none;
  -moz-appearance: none;
}
