:root {
  --font-family-main: "Manrope", "Arial", sans-serif;
  --font-family-secondary: "Roboto", "Arial", sans-serif;

  --font-size-s: 12px;
  --font-line-s: 14px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

  --font-size-m: 14px;
  --font-line-m: 19px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

  --font-size-l: 18px;
  --font-line-l: 24px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  // HEADINGS:
  --heading-size-4: 16px;
  --heading-line-4: 22px;
  --heading-s: var(--heading-size-4) / var(--heading-line-4)
    var(--font-family-main);

  --heading-size-3: 20px;
  --heading-line-3: 27px;
  --heading-s: var(--heading-size-3) / var(--heading-line-3)
    var(--font-family-main);

  --heading-size-2: 28px;
  --heading-line-2: 38px;
  --heading-s: var(--heading-size-2) / var(--heading-line-2)
    var(--font-family-main);

  --heading-size-1: 36px;
  --heading-line-1: 49px;
  --heading-s: var(--heading-size-1) / var(--heading-line-1)
    var(--font-family-main);
}
