.Title {
  margin: 0;
  font: var(--heading-1);
  font-weight: 700;
}

.Time,
.Description {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: #333;
  margin-bottom: 10px;
}

:global(.App.Dark) .Time {
  color: #7a7a7a;
}

.Img {
  width: 100%;
  margin: 30px 0 40px;
  display: block;
}

.Body {
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
}
