.App.Light {
  --text-color: var(--dark-3);
  --text-color-inverted: var(--light-1);

  --bg-color: var(--light-1);
  --hover-bg-color: var(--light-2);
  --active-bg-color: var(--light-3);

  --bg-inverted-color: var(--dark-2);
  --hover-inverted-bg-color: var(--dark-3);
  --active-inverted-bg-color: var(--dark-3);
}
