.Club {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  line-height: 19px;
}

.Right {
  flex-direction: row-reverse;
  text-align: right;
}

.ClubImg {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.Won {
  font-weight: bold;
}
