.Index {
  padding-top: 40px;
  padding-bottom: 40px;
}

.TopArticlesScoresWrapper {
  margin-top: 60px;
  display: flex;
  align-items: flex-start;
}

.TopArticles {
  flex-grow: 1;
  margin-right: 20px;
}
