:root {
  --dark-1: #222327;
  --dark-2: #16171b;
  --dark-3: #000;

  --light-1: #fff;
  --light-2: #e5e5e5;
  --light-3: #d8d8d8;

  --green-1: #469264;
  --green-2: #428a5f;
  --green-3: #3f835a;

  --primary-color: var(--green-1);
  --primary-color-hover: var(--green-2);
  --primary-color-active: var(--green-3);
}
